.perspective {
    -webkit-perspective: 1800px;
    perspective: 1800px;
}

.page {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
}

.page.turn{
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
