@tailwind base;
@tailwind components;

body {
  position: relative;
}

.tooltip {
  @apply invisible;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.flip-card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.number {
  display: block;
  text-align: right;
  overflow: auto;
}

.decimal {
  width: 100px;
  float: right;
  text-align: left;
}

.VictoryContainer [role="graphics-symbol"]:focus {
  outline-color: black;
  outline-style: dotted;
}

@tailwind utilities;
@tailwind varients;
