/* montserrat Regular, Regular Italic, Medium, Medium Italic, Bold, Bold Italic */
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/400-italic.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/500-italic.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/700-italic.css";

/* noto-sans Regular, Regular Italic, Bold, Bold Italic */
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/400-italic.css";
@import "@fontsource/noto-sans/700.css";
@import "@fontsource/noto-sans/700-italic.css";

@layer theme, base, mantine, components, utilities;
@import "tailwindcss";
@config "../../tailwind.config.js";

@import "@mantine/core/styles.layer.css";

@source inline("bg-gdc-survival-0 bg-gdc-survival-1 bg-gdc-survival-2 bg-gdc-survival-3 bg-gdc-survival-4 bg-gdc-survival-5 bg-gdc-survival-6 bg-gdc-survival-7 bg-gdc-survival-8 bg-gdc-survival-9 text-gdc-survival-0 text-gdc-survival-1 text-gdc-survival-2 text-gdc-survival-3 text-gdc-survival-4 text-gdc-survival-5 text-gdc-survival-6 text-gdc-survival-7 text-gdc-survival-8 text-gdc-survival-9");

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms" {
  strategy: class;
}

@custom-variant data-checked (&[data-checked]);
@custom-variant data-active (&[data-active]);
@custom-variant data-selected (&[data-selected]);
@custom-variant data-hovered (&[data-hovered]);
@custom-variant data-disabled (&[data-disabled]);
@custom-variant data-in-range (&[data-in-range]);
@custom-variant data-first-in-range (&[data-first-in-range]);
@custom-variant data-last-in-range (&[data-last-in-range]);

@utility nextImageFillFix {
  width: auto !important;
  right: auto !important;
  min-width: 0 !important;
}

:root {
  --color-base-max: #ffffff;
  --color-base-lightest: #f1f1f1;
  --color-base-lighter: #c5c5c5;
  --color-base-light: #9b9b9b;
  --color-base: #706f6f;
  --color-base-dark: #606060;
  --color-base-darker: #414150;
  --color-base-darkest: #38393a;
  --color-base-ink: #1b1b1b;
  --color-base-min: #000000;
  --color-base-content-max: #ffffff;
  --color-base-content-lightest: #f1f1f1;
  --color-base-content-lighter: #c5c5c5;
  --color-base-content-light: #9b9b9b;
  --color-base-content: #706f6f;
  --color-base-content-dark: #606060;
  --color-base-content-darker: #414150;
  --color-base-content-darkest: #38393a;
  --color-base-content-ink: #1b1b1b;
  --color-base-content-min: #000000;
  --color-base-contrast-min: #ffffff;
  --color-base-contrast-darkest: #f1f1f1;
  --color-base-contrast-darker: #f1f1f1;
  --color-base-contrast-dark: #f1f1f1;
  --color-base-contrast: #ffffff;
  --color-base-contrast-vivid: #f1f1f1;
  --color-base-contrast-light: #1b1b1b;
  --color-base-contrast-lighter: #1b1b1b;
  --color-base-contrast-lightest: #1b1b1b;
  --color-base-contrast-max: #000000;
  --color-primary-max: #ffffff;
  --color-primary-lightest: #e9eff5;
  --color-primary-lighter: #abc5db;
  --color-primary-light: #6a9dc1;
  --color-primary: #2a72a5;
  --color-primary-vivid: #3671a8;
  --color-primary-dark: #256492;
  --color-primary-darker: #1d567e;
  --color-primary-darkest: #0f4163;
  --color-primary-min: #11324a;
  --color-primary-content-max: #ffffff;
  --color-primary-content-lightest: #f8f9fa;
  --color-primary-content-lighter: #c5c5c5;
  --color-primary-content-light: #9b9b9b;
  --color-primary-content: #706f6f;
  --color-primary-content-dark: #606060;
  --color-primary-content-darker: #414150;
  --color-primary-content-darkest: #00334d;
  --color-primary-content-ink: #1b1b1b;
  --color-primary-content-min: #000000;
  --color-primary-contrast-min: #ffffff;
  --color-primary-contrast-darkest: #f1f1f1;
  --color-primary-contrast-darker: #f1f1f1;
  --color-primary-contrast-dark: #f1f1f1;
  --color-primary-contrast: #f1f1f1;
  --color-primary-contrast-vivid: #000000;
  --color-primary-contrast-light: #1b1b1b;
  --color-primary-contrast-lighter: #1b1b1b;
  --color-primary-contrast-lightest: #1b1b1b;
  --color-primary-contrast-max: #000000;
  --color-secondary-max: #e8f3f6;
  --color-secondary-lightest: #c0dde5;
  --color-secondary-lighter: #98c6d3;
  --color-secondary-light: #71afc0;
  --color-secondary: #267f98;
  --color-secondary-vivid: #4b97ac;
  --color-secondary-dark: #1b6478;
  --color-secondary-darker: #124857;
  --color-secondary-darkest: #00314c;
  --color-secondary-min: #030d10;
  --color-secondary-content-max: #ffffff;
  --color-secondary-content-lightest: #f1f1f1;
  --color-secondary-content-lighter: #c5c5c5;
  --color-secondary-content-light: #9b9b9b;
  --color-secondary-content: #706f6f;
  --color-secondary-content-dark: #606060;
  --color-secondary-content-darker: #414150;
  --color-secondary-content-darkest: #38393a;
  --color-secondary-content-ink: #1b1b1b;
  --color-secondary-content-min: #000000;
  --color-secondary-contrast-max: #030d10;
  --color-secondary-contrast-lightest: #0a2b34;
  --color-secondary-contrast-lighter: #333333;
  --color-secondary-contrast-light: #414141;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-vivid: #c4c4c4;
  --color-secondary-contrast-dark: #71afc0;
  --color-secondary-contrast-darker: #98c6d3;
  --color-secondary-contrast-darkest: #ffffff;
  --color-secondary-contrast-min: #ffffff;
  --color-accent-max: #fbede6;
  --color-accent-lightest: #f3cdbb;
  --color-accent-lighter: #eaad91;
  --color-accent-light: #e08d68;
  --color-accent: #d46e40;
  --color-accent-vivid: #c7501a;
  --color-accent-dark: #9e3d11;
  --color-accent-darker: #722a0a;
  --color-accent-darkest: #451804;
  --color-accent-min: #160701;
  --color-accent-content-max: #ffffff;
  --color-accent-content-lightest: #f1f1f1;
  --color-accent-content-lighter: #c5c5c5;
  --color-accent-content-light: #9b9b9b;
  --color-accent-content: #706f6f;
  --color-accent-content-dark: #606060;
  --color-accent-content-darker: #414150;
  --color-accent-content-darkest: #38393a;
  --color-accent-content-ink: #1b1b1b;
  --color-accent-content-min: #000000;
  --color-accent-contrast-max: #111111;
  --color-accent-contrast-lightest: #111111;
  --color-accent-contrast-lighter: #111111;
  --color-accent-contrast-light: #111111;
  --color-accent-contrast: #ffffff;
  --color-accent-contrast-vivid: #ffffff;
  --color-accent-contrast-dark: #ffffff;
  --color-accent-contrast-darker: #ffffff;
  --color-accent-contrast-darkest: #ffffff;
  --color-accent-contrast-min: #ffffff;
  --color-accent-warm-max: #ffffff;
  --color-accent-warm-lightest: #fff9e8;
  --color-accent-warm-lighter: #ffe296;
  --color-accent-warm-light: #ffd056;
  --color-accent-warm: #ffbf17;
  --color-accent-warm-vivid: #ffb700;
  --color-accent-warm-dark: #d9a214;
  --color-accent-warm-darker: #bf8f11;
  --color-accent-warm-darkest: #8c690d;
  --color-accent-warm-min: #4d3907;
  --color-accent-warm-content-max: #ffffff;
  --color-accent-warm-content-lightest: #f1f1f1;
  --color-accent-warm-content-lighter: #c5c5c5;
  --color-accent-warm-content-light: #9b9b9b;
  --color-accent-warm-content: #706f6f;
  --color-accent-warm-content-dark: #606060;
  --color-accent-warm-content-darker: #414150;
  --color-accent-warm-content-darkest: #38393a;
  --color-accent-warm-content-ink: #1b1b1b;
  --color-accent-warm-content-min: #000000;
  --color-accent-warm-contrast-min: #ffffff;
  --color-accent-warm-contrast-darkest: #ffffff;
  --color-accent-warm-contrast-darker: #1b1b1b;
  --color-accent-warm-contrast-dark: #1b1b1b;
  --color-accent-warm-contrast: #000000;
  --color-accent-warm-contrast-vivid: #000000;
  --color-accent-warm-contrast-light: #1b1b1b;
  --color-accent-warm-contrast-lighter: #1b1b1b;
  --color-accent-warm-contrast-lightest: #1b1b1b;
  --color-accent-warm-contrast-max: #000000;
  --color-accent-cool-max: #e9f4f1;
  --color-accent-cool-lightest: #c1ded6;
  --color-accent-cool-lighter: #9fdfc9;
  --color-accent-cool-light: #39b588;
  --color-accent-cool: #2a836a;
  --color-accent-cool-vivid: #2a836a;
  --color-accent-cool-dark: #217657;
  --color-accent-cool-darker: #154b3b;
  --color-accent-cool-darkest: #0c2d23;
  --color-accent-cool-min: #030e0b;
  --color-accent-cool-content-max: #ebf8fb;
  --color-accent-cool-content-lightest: #d5ebf1;
  --color-accent-cool-content-lighter: #a5dbe8;
  --color-accent-cool-content-light: #84ccdd;
  --color-accent-cool-content: #64bcd2;
  --color-accent-cool-content-vivid: #44acc5;
  --color-accent-cool-content-dark: #32879b;
  --color-accent-cool-content-darker: #226170;
  --color-accent-cool-content-darkest: #133a43;
  --color-accent-cool-content-min: #061215;
  --color-accent-cool-contrast-min: #ffffff;
  --color-accent-cool-contrast-darkest: #f1f1f1;
  --color-accent-cool-contrast-darker: #ffffff;
  --color-accent-cool-contrast-dark: #111111;
  --color-accent-cool-contrast: #000000;
  --color-accent-cool-contrast-vivid: #000000;
  --color-accent-cool-contrast-light: #1b1b1b;
  --color-accent-cool-contrast-lighter: #1b1b1b;
  --color-accent-cool-contrast-lightest: #1b1b1b;
  --color-accent-cool-contrast-max: #000000;
  --color-chart-max: #ffffff;
  --color-chart-lightest: #e9f5f7;
  --color-chart-lighter: #a5d5d9;
  --color-chart-light: #64b7db;
  --color-chart: #0d95a1;
  --color-chart-vivid: #0fb1bf;
  --color-chart-dark: #82368c;
  --color-chart-darker: #227991;
  --color-chart-darkest: #135f73;
  --color-chart-min: #0c3945;
  --color-chart-contrast-min: #ffffff;
  --color-chart-contrast-darkest: #f1f1f1;
  --color-chart-contrast-darker: #ffffff;
  --color-chart-contrast-dark: #000000;
  --color-chart-contrast: #000000;
  --color-chart-contrast-vivid: #000000;
  --color-chart-contrast-light: #1b1b1b;
  --color-chart-contrast-lighter: #1b1b1b;
  --color-chart-contrast-lightest: #1b1b1b;
  --color-chart-contrast-max: #000000;
  --color-utility-link: #155276;
  --color-utility-success: #318f71;
  --color-utility-warning: #d9a214;
  --color-utility-error: #8a0e2a;
  --color-utility-emergency: #6a0019;
  --color-utility-info: #1c5e86;
  --color-utility-category1: #1c5e86;
  --color-utility-category2: #d1541d;
  --color-utility-category3: #564990;
  --color-utility-category4: #4dbc97;
  --color-utility-contrast-link: #f1f1f1;
  --color-utility-contrast-success: #000000;
  --color-utility-contrast-warning: #1b1b1b;
  --color-utility-contrast-error: #f1f1f1;
  --color-utility-contrast-emergency: #f1f1f1;
  --color-utility-contrast-info: #f1f1f1;
  --color-utility-contrast-category1: #f1f1f1;
  --color-utility-contrast-category2: #000000;
  --color-utility-contrast-category3: #f1f1f1;
  --color-utility-contrast-category4: #1b1b1b;
  --color-impact-vep-high: rgb(185, 36, 36);
  --color-impact-vep-moderate: #634d0c;
  --color-impact-vep-modifier: #634d0c;
  --color-impact-vep-low: #015c0a;
  --color-impact-sift-deleterious: rgb(185, 36, 36);
  --color-impact-sift-deleterious_low_confidence: #634d0c;
  --color-impact-sift-tolerated: #634d0c;
  --color-impact-sift-tolerated_low_confidence: #015c0a;
  --color-impact-polyphen-benign: #015c0a;
  --color-impact-polyphen-possibly_damaging: #634d0c;
  --color-impact-polyphen-probably_damaging: rgb(185, 36, 36);
  --color-impact-polyphen-unknown: rgb(107, 98, 98);

  --color-nci-gray-max: #ffffff;
  --color-nci-gray-lightest: #f1f1f1;
  --color-nci-gray-lighter: #c5c5c5;
  --color-nci-gray-light: #9b9b9b;
  --color-nci-gray: #706f6f;
  --color-nci-gray-dark: #606060;
  --color-nci-gray-darker: #414150;
  --color-nci-gray-darkest: #38393a;
  --color-nci-gray-ink: #1b1b1b;
  --color-nci-gray-min: #000000;
  --color-nci-red-max: #ffffff;
  --color-nci-red-lightest: #f9e7ed;
  --color-nci-red-lighter: #e3a5b3;
  --color-nci-red-light: #cf5f78;
  --color-nci-red: #bb0e3d;
  --color-nci-red-vivid: #d01145;
  --color-nci-red-dark: #a31836;
  --color-nci-red-darker: #8a0e2a;
  --color-nci-red-darkest: #6a0019;
  --color-nci-red-min: #3d000e;
  --color-nci-blumine-max: #ffffff;
  --color-nci-blumine-lightest: #e9eff3;
  --color-nci-blumine-lighter: #a3bfcf;
  --color-nci-blumine-light: #648fab;
  --color-nci-blumine: #1c5e86;
  --color-nci-blumine-vivid: #2884bd;
  --color-nci-blumine-dark: #155276;
  --color-nci-blumine-darker: #0c4564;
  --color-nci-blumine-darkest: #00314c;
  --color-nci-blumine-min: #001926;
  --color-nci-blue-max: #ffffff;
  --color-nci-blue-lightest: #e9eff5;
  --color-nci-blue-lighter: #abc5db;
  --color-nci-blue-light: #6a9dc1;
  --color-nci-blue: #2a72a5;
  --color-nci-blue-vivid: #3671a8;
  --color-nci-blue-dark: #256492;
  --color-nci-blue-darker: #1d567e;
  --color-nci-blue-darkest: #0f4163;
  --color-nci-blue-min: #11324a;
  --color-nci-teal-max: #ffffff;
  --color-nci-teal-lightest: #e9f5f7;
  --color-nci-teal-lighter: #a5d5d9;
  --color-nci-teal-light: #64b7db;
  --color-nci-teal: #0d95a1;
  --color-nci-teal-vivid: #0fb1bf;
  --color-nci-teal-dark: #82368c;
  --color-nci-teal-darker: #227991;
  --color-nci-teal-darkest: #135f73;
  --color-nci-teal-min: #0c3945;
  --color-nci-cyan-max: #ffffff;
  --color-nci-cyan-lightest: #ebf5f9;
  --color-nci-cyan-lighter: #add9e5;
  --color-nci-cyan-light: #72bdd1;
  --color-nci-cyan: #319fbe;
  --color-nci-cyan-vivid: #37b2d4;
  --color-nci-cyan-dark: #2b8ba7;
  --color-nci-cyan-darker: #227991;
  --color-nci-cyan-darkest: #135f73;
  --color-nci-cyan-min: #092a33;
  --color-nci-green-max: #ffffff;
  --color-nci-green-lightest: #edf7f5;
  --color-nci-green-lighter: #b3e5d5;
  --color-nci-green-light: #7cd1b4;
  --color-nci-green: #4dbc97;
  --color-nci-green-vivid: #5ce0b4;
  --color-nci-green-dark: #3ca582;
  --color-nci-green-darker: #318f71;
  --color-nci-green-darkest: #1e7158;
  --color-nci-green-min: #0f382c;
  --color-nci-violet-max: #ffffff;
  --color-nci-violet-lightest: #efeff5;
  --color-nci-violet-lighter: #bfb9db;
  --color-nci-violet-light: #8f85bf;
  --color-nci-violet: #6254a3;
  --color-nci-violet-vivid: #7a69c9;
  --color-nci-violet-dark: #564990;
  --color-nci-violet-darker: #4a3d7d;
  --color-nci-violet-darkest: #392b62;
  --color-nci-violet-min: #1f1836;
  --color-nci-purple-max: #ffffff;
  --color-nci-purple-lightest: #f1e9f3;
  --color-nci-purple-lighter: #cdadd1;
  --color-nci-purple-light: #a76eaf;
  --color-nci-purple: #82368c;
  --color-nci-purple-vivid: #ad49ba;
  --color-nci-purple-dark: #742d7c;
  --color-nci-purple-darker: #64226b;
  --color-nci-purple-darkest: #4e1154;
  --color-nci-purple-min: #1f1836;
  --color-nci-orange-max: #ffffff;
  --color-nci-orange-lightest: #fdefeb;
  --color-nci-orange-lighter: #f9bfaa;
  --color-nci-orange-light: #f38f6a;
  --color-nci-orange: #ff5f00;
  --color-nci-orange-vivid: #ff5f00;
  --color-nci-orange-dark: #d1541d;
  --color-nci-orange-darker: #b34715;
  --color-nci-orange-darkest: #8d3503;
  --color-nci-orange-min: #471b01;
  --color-nci-yellow-max: #ffffff;
  --color-nci-yellow-lightest: #fff9e8;
  --color-nci-yellow-lighter: #ffe296;
  --color-nci-yellow-light: #ffd056;
  --color-nci-yellow: #ffbf17;
  --color-nci-yellow-vivid: #ffb700;
  --color-nci-yellow-dark: #d9a214;
  --color-nci-yellow-darker: #bf8f11;
  --color-nci-yellow-darkest: #8c690d;
  --color-nci-yellow-min: #4d3907;
  --color-gdc-grey-max: #ffffff;
  --color-gdc-grey-lightest: #f0f0f0;
  --color-gdc-grey-lighter: #e6e6e6;
  --color-gdc-grey-light: #adadad;
  --color-gdc-grey: #757575;
  --color-gdc-grey-vivid: #9f9f9f;
  --color-gdc-grey-dark: #5c5c5c;
  --color-gdc-grey-darker: #454545;
  --color-gdc-grey-darkest: #2e2e2e;
  --color-gdc-grey-min: #1a1a1a;
  --color-gdc-red-max: #fff9fb;
  --color-gdc-red-lightest: #fff2f5;
  --color-gdc-red-lighter: #f8dfe2;
  --color-gdc-red-light: #fd8ba0;
  --color-gdc-red: #e41d3d;
  --color-gdc-red-vivid: #ef183a;
  --color-gdc-red-dark: #b21d38;
  --color-gdc-red-darker: #822133;
  --color-gdc-red-darkest: #4f1c24;
  --color-gdc-red-min: #230c0e;
  --color-gdc-blue-max: #f8fcff;
  --color-gdc-blue-lightest: #eff6fb;
  --color-gdc-blue-lighter: #d9e8f6;
  --color-gdc-blue-light: #73b3e7;
  --color-gdc-blue: #2378c3;
  --color-gdc-blue-vivid: #298fe8;
  --color-gdc-blue-dark: #2c608a;
  --color-gdc-blue-darker: #274863;
  --color-gdc-blue-darkest: #1f303e;
  --color-gdc-blue-min: #111a23;
  --color-gdc-blue-warm-max: #ecf1f7;
  --color-gdc-blue-warm-lightest: #ecf1f7;
  --color-gdc-blue-warm-lighter: #e1e7f1;
  --color-gdc-blue-warm-light: #98afd2;
  --color-gdc-blue-warm: #4a77b4;
  --color-gdc-blue-warm-vivid: #4a87dc;
  --color-gdc-blue-warm-dark: #345d96;
  --color-gdc-blue-warm-darker: #2f4668;
  --color-gdc-blue-warm-darkest: #252f3e;
  --color-gdc-blue-warm-min: #ecf1f7;
  --color-gdc-cyan-max: #f5fafc;
  --color-gdc-cyan-lightest: #e7f6f8;
  --color-gdc-cyan-lighter: #ccecf2;
  --color-gdc-cyan-light: #5dc0d1;
  --color-gdc-cyan: #168092;
  --color-gdc-cyan-vivid: #1ca7be;
  --color-gdc-cyan-dark: #2a646d;
  --color-gdc-cyan-darker: #2c4a4e;
  --color-gdc-cyan-darkest: #203133;
  --color-gdc-cyan-min: #11191a;
  --color-gdc-cyan-vivid-max: #ecf1f7;
  --color-gdc-cyan-vivid-lightest: #e5faff;
  --color-gdc-cyan-vivid-lighter: #a8f2ff;
  --color-gdc-cyan-vivid-light: #00bde3;
  --color-gdc-cyan-vivid: #0081a1;
  --color-gdc-cyan-vivid-vivid: #01a7d0;
  --color-gdc-cyan-vivid-dark: #00687d;
  --color-gdc-cyan-vivid-darker: #0e4f5c;
  --color-gdc-cyan-vivid-darkest: #093b44;
  --color-gdc-cyan-vivid-min: #051e21;
  --color-gdc-green-max: #e9f6f4;
  --color-gdc-green-lightest: #dbf6ed;
  --color-gdc-green-lighter: #c7efe2;
  --color-gdc-green-light: #5abf95;
  --color-gdc-green: #2e8367;
  --color-gdc-green-vivid: #39a985;
  --color-gdc-green-dark: #286846;
  --color-gdc-green-darker: #204e34;
  --color-gdc-green-darkest: #193324;
  --color-gdc-green-min: #112118;
  --color-gdc-indigo-max: #f4f4fc;
  --color-gdc-indigo-lightest: #f1eff7;
  --color-gdc-indigo-lighter: #e7e3fa;
  --color-gdc-indigo-light: #afa5e8;
  --color-gdc-indigo: #7665d1;
  --color-gdc-indigo-vivid: #7f6de8;
  --color-gdc-indigo-dark: #5e519e;
  --color-gdc-indigo-darker: #453c7b;
  --color-gdc-indigo-darkest: #2e2c40;
  --color-gdc-indigo-min: #1b1a26;
  --color-gdc-violet-max: #f7f2f8;
  --color-gdc-violet-lightest: #f8f0f9;
  --color-gdc-violet-lighter: #f6dff8;
  --color-gdc-violet-light: #d29ad8;
  --color-gdc-violet: #b04abd;
  --color-gdc-violet-vivid: #c452d2;
  --color-gdc-violet-dark: #864381;
  --color-gdc-violet-darker: #5c395a;
  --color-gdc-violet-darkest: #382936;
  --color-gdc-violet-min: #251c24;
  --color-gdc-orange-max: #fdf8f4;
  --color-gdc-orange-lightest: #fff3ea;
  --color-gdc-orange-lighter: #ffe2d1;
  --color-gdc-orange-light: #fc906d;
  --color-gdc-orange: #cf4900;
  --color-gdc-orange-dark: #a72f10;
  --color-gdc-orange-darker: #782312;
  --color-gdc-orange-darkest: #3d231d;
  --color-gdc-orange-min: #2f1c18;
  --color-gdc-yellow-max: #fcf7de;
  --color-gdc-yellow-lightest: #fff5c2;
  --color-gdc-yellow-lighter: #fee685;
  --color-gdc-yellow-light: #ddaa01;
  --color-gdc-yellow: #947100;
  --color-gdc-yellow-vivid: #e1b10f;
  --color-gdc-yellow-dark: #776017;
  --color-gdc-yellow-darker: #5c4809;
  --color-gdc-yellow-darkest: #422d19;
  --color-gdc-yellow-min: #231910;
  --color-gdc-survival-0: #1f77b4;
  --color-gdc-survival-1: #bd5800;
  --color-gdc-survival-2: #258825;
  --color-gdc-survival-3: #d62728;
  --color-gdc-survival-4: #8e5fb9;
  --color-gdc-survival-5: #8c564b;
  --color-gdc-survival-6: #d42ba1;
  --color-gdc-survival-7: #757575;
  --color-gdc-survival-8: #7a7a15;
  --color-gdc-survival-9: #10828e;
  --color-focusColor: rgb(34, 121, 145);
  --color-hoverColor: #e8f0e2;
  --color-activeColor: #204461;
  --color-percentage-bar-base: #d5e8e1;
  --color-percentage-bar-complete: #249c4f;
  --color-percentage-bar-label: #111111;
  --color-summarybar-text: #42346f;
  --color-summarybar-icon-background: #fbd5c7;
  --color-summarybar-border: #c5e3df;
  --color-summarybar-borderAlt: #f0e4cb;
  --color-summarybar-link-text: #863787;
  --color-warningColor: #ffad0d;
  --color-warningColorText: #8a661e;
  --color-cartDarkerOrange: #c7501a;
  --color-cartLighterOrange: #c7501a33;
  --color-linkDarkerColor: #1d6796;
  --color-emptyIconLighterColor: #e0e9f0;
  --color-removeButtonHover: #5d091d;
}

.invert-primary {
  --color-primary-lightest: #f9e7ed;
  --color-primary-lighter: #e3a5b3;
  --color-primary-light: #cf5f78;
  --color-primary: #bb0e3d;
  --color-primary-vivid: #d01145;
  --color-primary-dark: #a31836;
  --color-primary-darker: #8a0e2a;
  --color-primary-darkest: #6a0019;
  --color-primary-min: #3d000e;
  --color-primary-content-lightest: #f1f1f1;
  --color-primary-content-darkest: #38393a;
  --color-primary-contrast-vivid: #f1f1f1;
  --color-secondary-max: #ffffff;
  --color-secondary-lightest: #e9eff5;
  --color-secondary-lighter: #abc5db;
  --color-secondary-light: #6a9dc1;
  --color-secondary: #2a72a5;
  --color-secondary-vivid: #3671a8;
  --color-secondary-dark: #256492;
  --color-secondary-darker: #1d567e;
  --color-secondary-darkest: #0f4163;
  --color-secondary-min: #11324a;
  --color-secondary-contrast-min: #ffffff;
  --color-secondary-contrast-darkest: #f1f1f1;
  --color-secondary-contrast-darker: #f1f1f1;
  --color-secondary-contrast-dark: #f1f1f1;
  --color-secondary-contrast: #f1f1f1;
  --color-secondary-contrast-vivid: #000000;
  --color-secondary-contrast-light: #1b1b1b;
  --color-secondary-contrast-lighter: #1b1b1b;
  --color-secondary-contrast-lightest: #1b1b1b;
  --color-secondary-contrast-max: #000000;
  --color-accent-max: #ffffff;
  --color-accent-lightest: #e9eff3;
  --color-accent-lighter: #a3bfcf;
  --color-accent-light: #648fab;
  --color-accent: #1c5e86;
  --color-accent-vivid: #2884bd;
  --color-accent-dark: #155276;
  --color-accent-darker: #0c4564;
  --color-accent-darkest: #00314c;
  --color-accent-min: #001926;
  --color-accent-contrast-darkest: #f1f1f1;
  --color-accent-contrast-darker: #f1f1f1;
  --color-accent-contrast-dark: #f1f1f1;
  --color-accent-contrast: #f1f1f1;
  --color-accent-contrast-vivid: #000000;
  --color-accent-contrast-light: #1b1b1b;
  --color-accent-contrast-lighter: #1b1b1b;
  --color-accent-contrast-lightest: #1b1b1b;
  --color-accent-contrast-max: #000000;
  --color-accent-cool-max: #ffffff;
  --color-accent-cool-lightest: #ebf5f9;
  --color-accent-cool-lighter: #add9e5;
  --color-accent-cool-light: #72bdd1;
  --color-accent-cool: #319fbe;
  --color-accent-cool-vivid: #37b2d4;
  --color-accent-cool-dark: #2b8ba7;
  --color-accent-cool-darker: #227991;
  --color-accent-cool-darkest: #135f73;
  --color-accent-cool-min: #092a33;
  --color-accent-cool-content-max: #ffffff;
  --color-accent-cool-content-lightest: #f1f1f1;
  --color-accent-cool-content-lighter: #c5c5c5;
  --color-accent-cool-content-light: #9b9b9b;
  --color-accent-cool-content: #706f6f;
  --color-accent-cool-content-dark: #606060;
  --color-accent-cool-content-darker: #414150;
  --color-accent-cool-content-darkest: #38393a;
  --color-accent-cool-content-ink: #1b1b1b;
  --color-accent-cool-content-min: #000000;
}

.pastel {
  --color-base-max: #ffe1cb;
  --color-base-lightest: #ffc7b1;
  --color-base-lighter: #f0ae98;
  --color-base-light: #d6947e;
  --color-base: #bd7b65;
  --color-base-vivid: #c8755a;
  --color-base-dark: #a76048;
  --color-base-darker: #844b38;
  --color-base-darkest: #603729;
  --color-base-min: #3c221a;
  --color-base-contrast-max: #111111;
  --color-base-contrast-lightest: #111111;
  --color-base-contrast-lighter: #111111;
  --color-base-contrast-light: #111111;
  --color-base-contrast: #111111;
  --color-base-contrast-vivid: #111111;
  --color-base-contrast-dark: #fefefe;
  --color-base-contrast-darker: #fefefe;
  --color-base-contrast-darkest: #fefefe;
  --color-base-contrast-min: #fefefe;
  --color-primary-max: #ededff;
  --color-primary-lightest: #d3d3ff;
  --color-primary-lighter: #babaf5;
  --color-primary-light: #a0a0db;
  --color-primary: #8787c2;
  --color-primary-vivid: #7e7ecb;
  --color-primary-dark: #6565b1;
  --color-primary-darker: #4c4c96;
  --color-primary-darkest: #3b3b75;
  --color-primary-min: #2a2a53;
  --color-primary-content-lightest: #f1f1f1;
  --color-primary-content-darkest: #38393a;
  --color-primary-contrast-max: #111111;
  --color-primary-contrast-lightest: #111111;
  --color-primary-contrast-lighter: #111111;
  --color-primary-contrast-light: #111111;
  --color-primary-contrast: #111111;
  --color-primary-contrast-vivid: #111111;
  --color-primary-contrast-dark: #fefefe;
  --color-primary-contrast-darker: #fefefe;
  --color-primary-contrast-darkest: #fefefe;
  --color-primary-contrast-min: #fefefe;
  --color-secondary-max: #ffc1b3;
  --color-secondary-lightest: #f9a799;
  --color-secondary-lighter: #e08e80;
  --color-secondary-light: #c67466;
  --color-secondary: #ad5b4d;
  --color-secondary-vivid: #b95240;
  --color-secondary-dark: #8a483d;
  --color-secondary-darker: #66362e;
  --color-secondary-darkest: #43231e;
  --color-secondary-min: #20110e;
  --color-secondary-contrast-max: #111111;
  --color-secondary-contrast-lightest: #111111;
  --color-secondary-contrast-lighter: #111111;
  --color-secondary-contrast-light: #111111;
  --color-secondary-contrast: #fefefe;
  --color-secondary-contrast-vivid: #fefefe;
  --color-secondary-contrast-dark: #fefefe;
  --color-secondary-contrast-darker: #fefefe;
  --color-secondary-contrast-darkest: #fefefe;
  --color-secondary-contrast-min: #fefefe;
  --color-accent-max: #c3efff;
  --color-accent-lightest: #a9d5ff;
  --color-accent-lighter: #90bcee;
  --color-accent-light: #76a2d4;
  --color-accent: #5d89bb;
  --color-accent-vivid: #5288c6;
  --color-accent-dark: #4470a1;
  --color-accent-darker: #35577d;
  --color-accent-darkest: #263e59;
  --color-accent-min: #162536;
  --color-accent-contrast: #111111;
  --color-accent-contrast-vivid: #111111;
  --color-accent-contrast-dark: #fefefe;
  --color-accent-contrast-darker: #fefefe;
  --color-accent-contrast-darkest: #fefefe;
  --color-accent-contrast-min: #fefefe;
  --color-accent-cool-max: #ffffff;
  --color-accent-cool-lightest: #ebf5f9;
  --color-accent-cool-lighter: #add9e5;
  --color-accent-cool-light: #72bdd1;
  --color-accent-cool: #319fbe;
  --color-accent-cool-vivid: #37b2d4;
  --color-accent-cool-dark: #2b8ba7;
  --color-accent-cool-darker: #227991;
  --color-accent-cool-darkest: #135f73;
  --color-accent-cool-min: #092a33;
  --color-accent-cool-content-max: #ffffff;
  --color-accent-cool-content-lightest: #f1f1f1;
  --color-accent-cool-content-lighter: #c5c5c5;
  --color-accent-cool-content-light: #9b9b9b;
  --color-accent-cool-content: #706f6f;
  --color-accent-cool-content-dark: #606060;
  --color-accent-cool-content-darker: #414150;
  --color-accent-cool-content-darkest: #38393a;
  --color-accent-cool-content-ink: #1b1b1b;
  --color-accent-cool-content-min: #000000;
  --color-chart-max: #8c8dba;
  --color-chart-lightest: #7273a0;
  --color-chart-lighter: #595a87;
  --color-chart-light: #3f406d;
  --color-chart: #262754;
  --color-chart-vivid: #20215a;
  --color-chart-dark: #161731;
  --color-chart-darker: #06060e;
  --color-chart-darkest: #000000;
  --color-chart-min: #000000;
  --color-chart-contrast-max: #111111;
  --color-chart-contrast-lightest: #000000;
  --color-chart-contrast-lighter: #fefefe;
  --color-chart-contrast-light: #fefefe;
  --color-chart-contrast: #fefefe;
  --color-chart-contrast-vivid: #fefefe;
  --color-chart-contrast-dark: #fefefe;
  --color-chart-contrast-darker: #fefefe;
  --color-chart-contrast-darkest: #fefefe;
  --color-chart-contrast-min: #fefefe;
}

@theme inline {
  --color-base-max: var(--color-base-max);
  --color-base-lightest: var(--color-base-lightest);
  --color-base-lighter: var(--color-base-lighter);
  --color-base-light: var(--color-base-light);
  --color-base: var(--color-base);
  --color-base-dark: var(--color-base-dark);
  --color-base-darker: var(--color-base-darker);
  --color-base-darkest: var(--color-base-darkest);
  --color-base-ink: var(--color-base-ink);
  --color-base-min: var(--color-base-min);
  --color-base-content-max: var(--color-base-content-max);
  --color-base-content-lightest: var(--color-base-content-lightest);
  --color-base-content-lighter: var(--color-base-content-lighter);
  --color-base-content-light: var(--color-base-content-light);
  --color-base-content: var(--color-base-content);
  --color-base-content-dark: var(--color-base-content-dark);
  --color-base-content-darker: var(--color-base-content-darker);
  --color-base-content-darkest: var(--color-base-content-darkest);
  --color-base-content-ink: var(--color-base-content-ink);
  --color-base-content-min: var(--color-base-content-min);
  --color-base-contrast-min: var(--color-base-contrast-min);
  --color-base-contrast-darkest: var(--color-base-contrast-darkest);
  --color-base-contrast-darker: var(--color-base-contrast-darker);
  --color-base-contrast-dark: var(--color-base-contrast-dark);
  --color-base-contrast: var(--color-base-contrast);
  --color-base-contrast-vivid: var(--color-base-contrast-vivid);
  --color-base-contrast-light: var(--color-base-contrast-light);
  --color-base-contrast-lighter: var(--color-base-contrast-lighter);
  --color-base-contrast-lightest: var(--color-base-contrast-lightest);
  --color-base-contrast-max: var(--color-base-contrast-max);
  --color-primary-max: var(--color-primary-max);
  --color-primary-lightest: var(--color-primary-lightest);
  --color-primary-lighter: var(--color-primary-lighter);
  --color-primary-light: var(--color-primary-light);
  --color-primary: var(--color-primary);
  --color-primary-vivid: var(--color-primary-vivid);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-darker: var(--color-primary-darker);
  --color-primary-darkest: var(--color-primary-darkest);
  --color-primary-min: var(--color-primary-min);
  --color-primary-content-max: var(--color-primary-content-max);
  --color-primary-content-lightest: var(--color-primary-content-lightest);
  --color-primary-content-lighter: var(--color-primary-content-lighter);
  --color-primary-content-light: var(--color-primary-content-light);
  --color-primary-content: var(--color-primary-content);
  --color-primary-content-dark: var(--color-primary-content-dark);
  --color-primary-content-darker: var(--color-primary-content-darker);
  --color-primary-content-darkest: var(--color-primary-content-darkest);
  --color-primary-content-ink: var(--color-primary-content-ink);
  --color-primary-content-min: var(--color-primary-content-min);
  --color-primary-contrast-min: var(--color-primary-contrast-min);
  --color-primary-contrast-darkest: var(--color-primary-contrast-darkest);
  --color-primary-contrast-darker: var(--color-primary-contrast-darker);
  --color-primary-contrast-dark: var(--color-primary-contrast-dark);
  --color-primary-contrast: var(--color-primary-contrast);
  --color-primary-contrast-vivid: var(--color-primary-contrast-vivid);
  --color-primary-contrast-light: var(--color-primary-contrast-light);
  --color-primary-contrast-lighter: var(--color-primary-contrast-lighter);
  --color-primary-contrast-lightest: var(--color-primary-contrast-lightest);
  --color-primary-contrast-max: var(--color-primary-contrast-max);
  --color-secondary-max: var(--color-secondary-max);
  --color-secondary-lightest: var(--color-secondary-lightest);
  --color-secondary-lighter: var(--color-secondary-lighter);
  --color-secondary-light: var(--color-secondary-light);
  --color-secondary: var(--color-secondary);
  --color-secondary-vivid: var(--color-secondary-vivid);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-secondary-darker: var(--color-secondary-darker);
  --color-secondary-darkest: var(--color-secondary-darkest);
  --color-secondary-min: var(--color-secondary-min);
  --color-secondary-content-max: var(--color-secondary-content-max);
  --color-secondary-content-lightest: var(--color-secondary-content-lightest);
  --color-secondary-content-lighter: var(--color-secondary-content-lighter);
  --color-secondary-content-light: var(--color-secondary-content-light);
  --color-secondary-content: var(--color-secondary-content);
  --color-secondary-content-dark: var(--color-secondary-content-dark);
  --color-secondary-content-darker: var(--color-secondary-content-darker);
  --color-secondary-content-darkest: var(--color-secondary-content-darkest);
  --color-secondary-content-ink: var(--color-secondary-content-ink);
  --color-secondary-content-min: var(--color-secondary-content-min);
  --color-secondary-contrast-max: var(--color-secondary-contrast-max);
  --color-secondary-contrast-lightest: var(--color-secondary-contrast-lightest);
  --color-secondary-contrast-lighter: var(--color-secondary-contrast-lighter);
  --color-secondary-contrast-light: var(--color-secondary-contrast-light);
  --color-secondary-contrast: var(--color-secondary-contrast);
  --color-secondary-contrast-vivid: var(--color-secondary-contrast-vivid);
  --color-secondary-contrast-dark: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-darker: var(--color-secondary-contrast-darker);
  --color-secondary-contrast-darkest: var(--color-secondary-contrast-darkest);
  --color-secondary-contrast-min: var(--color-secondary-contrast-min);
  --color-accent-max: var(--color-accent-max);
  --color-accent-lightest: var(--color-accent-lightest);
  --color-accent-lighter: var(--color-accent-lighter);
  --color-accent-light: var(--color-accent-light);
  --color-accent: var(--color-accent);
  --color-accent-vivid: var(--color-accent-vivid);
  --color-accent-dark: var(--color-accent-dark);
  --color-accent-darker: var(--color-accent-darker);
  --color-accent-darkest: var(--color-accent-darkest);
  --color-accent-min: var(--color-accent-min);
  --color-accent-content-max: var(--color-accent-content-max);
  --color-accent-content-lightest: var(--color-accent-content-lightest);
  --color-accent-content-lighter: var(--color-accent-content-lighter);
  --color-accent-content-light: var(--color-accent-content-light);
  --color-accent-content: var(--color-accent-content);
  --color-accent-content-dark: var(--color-accent-content-dark);
  --color-accent-content-darker: var(--color-accent-content-darker);
  --color-accent-content-darkest: var(--color-accent-content-darkest);
  --color-accent-content-ink: var(--color-accent-content-ink);
  --color-accent-content-min: var(--color-accent-content-min);
  --color-accent-contrast-max: var(--color-accent-contrast-max);
  --color-accent-contrast-lightest: var(--color-accent-contrast-lightest);
  --color-accent-contrast-lighter: var(--color-accent-contrast-lighter);
  --color-accent-contrast-light: var(--color-accent-contrast-light);
  --color-accent-contrast: var(--color-accent-contrast);
  --color-accent-contrast-vivid: var(--color-accent-contrast-vivid);
  --color-accent-contrast-dark: var(--color-accent-contrast-dark);
  --color-accent-contrast-darker: var(--color-accent-contrast-darker);
  --color-accent-contrast-darkest: var(--color-accent-contrast-darkest);
  --color-accent-contrast-min: var(--color-accent-contrast-min);
  --color-accent-warm-max: var(--color-accent-warm-max);
  --color-accent-warm-lightest: var(--color-accent-warm-lightest);
  --color-accent-warm-lighter: var(--color-accent-warm-lighter);
  --color-accent-warm-light: var(--color-accent-warm-light);
  --color-accent-warm: var(--color-accent-warm);
  --color-accent-warm-vivid: var(--color-accent-warm-vivid);
  --color-accent-warm-dark: var(--color-accent-warm-dark);
  --color-accent-warm-darker: var(--color-accent-warm-darker);
  --color-accent-warm-darkest: var(--color-accent-warm-darkest);
  --color-accent-warm-min: var(--color-accent-warm-min);
  --color-accent-warm-content-max: var(--color-accent-warm-content-max);
  --color-accent-warm-content-lightest: var(
    --color-accent-warm-content-lightest
  );
  --color-accent-warm-content-lighter: var(--color-accent-warm-content-lighter);
  --color-accent-warm-content-light: var(--color-accent-warm-content-light);
  --color-accent-warm-content: var(--color-accent-warm-content);
  --color-accent-warm-content-dark: var(--color-accent-warm-content-dark);
  --color-accent-warm-content-darker: var(--color-accent-warm-content-darker);
  --color-accent-warm-content-darkest: var(--color-accent-warm-content-darkest);
  --color-accent-warm-content-ink: var(--color-accent-warm-content-ink);
  --color-accent-warm-content-min: var(--color-accent-warm-content-min);
  --color-accent-warm-contrast-min: var(--color-accent-warm-contrast-min);
  --color-accent-warm-contrast-darkest: var(
    --color-accent-warm-contrast-darkest
  );
  --color-accent-warm-contrast-darker: var(--color-accent-warm-contrast-darker);
  --color-accent-warm-contrast-dark: var(--color-accent-warm-contrast-dark);
  --color-accent-warm-contrast: var(--color-accent-warm-contrast);
  --color-accent-warm-contrast-vivid: var(--color-accent-warm-contrast-vivid);
  --color-accent-warm-contrast-light: var(--color-accent-warm-contrast-light);
  --color-accent-warm-contrast-lighter: var(
    --color-accent-warm-contrast-lighter
  );
  --color-accent-warm-contrast-lightest: var(
    --color-accent-warm-contrast-lightest
  );
  --color-accent-warm-contrast-max: var(--color-accent-warm-contrast-max);
  --color-accent-cool-max: var(--color-accent-cool-max);
  --color-accent-cool-lightest: var(--color-accent-cool-lightest);
  --color-accent-cool-lighter: var(--color-accent-cool-lighter);
  --color-accent-cool-light: var(--color-accent-cool-light);
  --color-accent-cool: var(--color-accent-cool);
  --color-accent-cool-vivid: var(--color-accent-cool-vivid);
  --color-accent-cool-dark: var(--color-accent-cool-dark);
  --color-accent-cool-darker: var(--color-accent-cool-darker);
  --color-accent-cool-darkest: var(--color-accent-cool-darkest);
  --color-accent-cool-min: var(--color-accent-cool-min);
  --color-accent-cool-content-max: var(--color-accent-cool-content-max);
  --color-accent-cool-content-lightest: var(
    --color-accent-cool-content-lightest
  );
  --color-accent-cool-content-lighter: var(--color-accent-cool-content-lighter);
  --color-accent-cool-content-light: var(--color-accent-cool-content-light);
  --color-accent-cool-content: var(--color-accent-cool-content);
  --color-accent-cool-content-vivid: var(--color-accent-cool-content-vivid);
  --color-accent-cool-content-dark: var(--color-accent-cool-content-dark);
  --color-accent-cool-content-darker: var(--color-accent-cool-content-darker);
  --color-accent-cool-content-darkest: var(--color-accent-cool-content-darkest);
  --color-accent-cool-content-min: var(--color-accent-cool-content-min);
  --color-accent-cool-contrast-min: var(--color-accent-cool-contrast-min);
  --color-accent-cool-contrast-darkest: var(
    --color-accent-cool-contrast-darkest
  );
  --color-accent-cool-contrast-darker: var(--color-accent-cool-contrast-darker);
  --color-accent-cool-contrast-dark: var(--color-accent-cool-contrast-dark);
  --color-accent-cool-contrast: var(--color-accent-cool-contrast);
  --color-accent-cool-contrast-vivid: var(--color-accent-cool-contrast-vivid);
  --color-accent-cool-contrast-light: var(--color-accent-cool-contrast-light);
  --color-accent-cool-contrast-lighter: var(
    --color-accent-cool-contrast-lighter
  );
  --color-accent-cool-contrast-lightest: var(
    --color-accent-cool-contrast-lightest
  );
  --color-accent-cool-contrast-max: var(--color-accent-cool-contrast-max);
  --color-chart-max: var(--color-chart-max);
  --color-chart-lightest: var(--color-chart-lightest);
  --color-chart-lighter: var(--color-chart-lighter);
  --color-chart-light: var(--color-chart-light);
  --color-chart: var(--color-chart);
  --color-chart-vivid: var(--color-chart-vivid);
  --color-chart-dark: var(--color-chart-dark);
  --color-chart-darker: var(--color-chart-darker);
  --color-chart-darkest: var(--color-chart-darkest);
  --color-chart-min: var(--color-chart-min);
  --color-chart-contrast-min: var(--color-chart-contrast-min);
  --color-chart-contrast-darkest: var(--color-chart-contrast-darkest);
  --color-chart-contrast-darker: var(--color-chart-contrast-darker);
  --color-chart-contrast-dark: var(--color-chart-contrast-dark);
  --color-chart-contrast: var(--color-chart-contrast);
  --color-chart-contrast-vivid: var(--color-chart-contrast-vivid);
  --color-chart-contrast-light: var(--color-chart-contrast-light);
  --color-chart-contrast-lighter: var(--color-chart-contrast-lighter);
  --color-chart-contrast-lightest: var(--color-chart-contrast-lightest);
  --color-chart-contrast-max: var(--color-chart-contrast-max);
  --color-utility-link: var(--color-utility-link);
  --color-utility-success: var(--color-utility-success);
  --color-utility-warning: var(--color-utility-warning);
  --color-utility-error: var(--color-utility-error);
  --color-utility-emergency: var(--color-utility-emergency);
  --color-utility-info: var(--color-utility-info);
  --color-utility-category1: var(--color-utility-category1);
  --color-utility-category2: var(--color-utility-category2);
  --color-utility-category3: var(--color-utility-category3);
  --color-utility-category4: var(--color-utility-category4);
  --color-utility-contrast-link: var(--color-utility-contrast-link);
  --color-utility-contrast-success: var(--color-utility-contrast-success);
  --color-utility-contrast-warning: var(--color-utility-contrast-warning);
  --color-utility-contrast-error: var(--color-utility-contrast-error);
  --color-utility-contrast-emergency: var(--color-utility-contrast-emergency);
  --color-utility-contrast-info: var(--color-utility-contrast-info);
  --color-utility-contrast-category1: var(--color-utility-contrast-category1);
  --color-utility-contrast-category2: var(--color-utility-contrast-category2);
  --color-utility-contrast-category3: var(--color-utility-contrast-category3);
  --color-utility-contrast-category4: var(--color-utility-contrast-category4);
  --color-impact-vep-high: var(--color-impact-vep-high);
  --color-impact-vep-moderate: var(--color-impact-vep-moderate);
  --color-impact-vep-modifier: var(--color-impact-vep-modifier);
  --color-impact-vep-low: var(--color-impact-vep-low);
  --color-impact-sift-deleterious: var(--color-impact-sift-deleterious);
  --color-impact-sift-deleterious_low_confidence: var(
    --color-impact-sift-deleterious_low_confidence
  );
  --color-impact-sift-tolerated: var(--color-impact-sift-tolerated);
  --color-impact-sift-tolerated_low_confidence: var(
    --color-impact-sift-tolerated_low_confidence
  );
  --color-impact-polyphen-benign: var(--color-impact-polyphen-benign);
  --color-impact-polyphen-possibly_damaging: var(
    --color-impact-polyphen-possibly_damaging
  );
  --color-impact-polyphen-probably_damaging: var(
    --color-impact-polyphen-probably_damaging
  );
  --color-impact-polyphen-unknown: var(--color-impact-polyphen-unknown);
  --color-nci-gray-max: var(--color-nci-gray-max);
  --color-nci-gray-lightest: var(--color-nci-gray-lightest);
  --color-nci-gray-lighter: var(--color-nci-gray-lighter);
  --color-nci-gray-light: var(--color-nci-gray-light);
  --color-nci-gray: var(--color-nci-gray);
  --color-nci-gray-dark: var(--color-nci-gray-dark);
  --color-nci-gray-darker: var(--color-nci-gray-darker);
  --color-nci-gray-darkest: var(--color-nci-gray-darkest);
  --color-nci-gray-ink: var(--color-nci-gray-ink);
  --color-nci-gray-min: var(--color-nci-gray-min);
  --color-nci-red-max: var(--color-nci-red-max);
  --color-nci-red-lightest: var(--color-nci-red-lightest);
  --color-nci-red-lighter: var(--color-nci-red-lighter);
  --color-nci-red-light: var(--color-nci-red-light);
  --color-nci-red: var(--color-nci-red);
  --color-nci-red-vivid: var(--color-nci-red-vivid);
  --color-nci-red-dark: var(--color-nci-red-dark);
  --color-nci-red-darker: var(--color-nci-red-darker);
  --color-nci-red-darkest: var(--color-nci-red-darkest);
  --color-nci-red-min: var(--color-nci-red-min);
  --color-nci-blumine-max: var(--color-nci-blumine-max);
  --color-nci-blumine-lightest: var(--color-nci-blumine-lightest);
  --color-nci-blumine-lighter: var(--color-nci-blumine-lighter);
  --color-nci-blumine-light: var(--color-nci-blumine-light);
  --color-nci-blumine: var(--color-nci-blumine);
  --color-nci-blumine-vivid: var(--color-nci-blumine-vivid);
  --color-nci-blumine-dark: var(--color-nci-blumine-dark);
  --color-nci-blumine-darker: var(--color-nci-blumine-darker);
  --color-nci-blumine-darkest: var(--color-nci-blumine-darkest);
  --color-nci-blumine-min: var(--color-nci-blumine-min);
  --color-nci-blue-max: var(--color-nci-blue-max);
  --color-nci-blue-lightest: var(--color-nci-blue-lightest);
  --color-nci-blue-lighter: var(--color-nci-blue-lighter);
  --color-nci-blue-light: var(--color-nci-blue-light);
  --color-nci-blue: var(--color-nci-blue);
  --color-nci-blue-vivid: var(--color-nci-blue-vivid);
  --color-nci-blue-dark: var(--color-nci-blue-dark);
  --color-nci-blue-darker: var(--color-nci-blue-darker);
  --color-nci-blue-darkest: var(--color-nci-blue-darkest);
  --color-nci-blue-min: var(--color-nci-blue-min);
  --color-nci-teal-max: var(--color-nci-teal-max);
  --color-nci-teal-lightest: var(--color-nci-teal-lightest);
  --color-nci-teal-lighter: var(--color-nci-teal-lighter);
  --color-nci-teal-light: var(--color-nci-teal-light);
  --color-nci-teal: var(--color-nci-teal);
  --color-nci-teal-vivid: var(--color-nci-teal-vivid);
  --color-nci-teal-dark: var(--color-nci-teal-dark);
  --color-nci-teal-darker: var(--color-nci-teal-darker);
  --color-nci-teal-darkest: var(--color-nci-teal-darkest);
  --color-nci-teal-min: var(--color-nci-teal-min);
  --color-nci-cyan-max: var(--color-nci-cyan-max);
  --color-nci-cyan-lightest: var(--color-nci-cyan-lightest);
  --color-nci-cyan-lighter: var(--color-nci-cyan-lighter);
  --color-nci-cyan-light: var(--color-nci-cyan-light);
  --color-nci-cyan: var(--color-nci-cyan);
  --color-nci-cyan-vivid: var(--color-nci-cyan-vivid);
  --color-nci-cyan-dark: var(--color-nci-cyan-dark);
  --color-nci-cyan-darker: var(--color-nci-cyan-darker);
  --color-nci-cyan-darkest: var(--color-nci-cyan-darkest);
  --color-nci-cyan-min: var(--color-nci-cyan-min);
  --color-nci-green-max: var(--color-nci-green-max);
  --color-nci-green-lightest: var(--color-nci-green-lightest);
  --color-nci-green-lighter: var(--color-nci-green-lighter);
  --color-nci-green-light: var(--color-nci-green-light);
  --color-nci-green: var(--color-nci-green);
  --color-nci-green-vivid: var(--color-nci-green-vivid);
  --color-nci-green-dark: var(--color-nci-green-dark);
  --color-nci-green-darker: var(--color-nci-green-darker);
  --color-nci-green-darkest: var(--color-nci-green-darkest);
  --color-nci-green-min: var(--color-nci-green-min);
  --color-nci-violet-max: var(--color-nci-violet-max);
  --color-nci-violet-lightest: var(--color-nci-violet-lightest);
  --color-nci-violet-lighter: var(--color-nci-violet-lighter);
  --color-nci-violet-light: var(--color-nci-violet-light);
  --color-nci-violet: var(--color-nci-violet);
  --color-nci-violet-vivid: var(--color-nci-violet-vivid);
  --color-nci-violet-dark: var(--color-nci-violet-dark);
  --color-nci-violet-darker: var(--color-nci-violet-darker);
  --color-nci-violet-darkest: var(--color-nci-violet-darkest);
  --color-nci-violet-min: var(--color-nci-violet-min);
  --color-nci-purple-max: var(--color-nci-purple-max);
  --color-nci-purple-lightest: var(--color-nci-purple-lightest);
  --color-nci-purple-lighter: var(--color-nci-purple-lighter);
  --color-nci-purple-light: var(--color-nci-purple-light);
  --color-nci-purple: var(--color-nci-purple);
  --color-nci-purple-vivid: var(--color-nci-purple-vivid);
  --color-nci-purple-dark: var(--color-nci-purple-dark);
  --color-nci-purple-darker: var(--color-nci-purple-darker);
  --color-nci-purple-darkest: var(--color-nci-purple-darkest);
  --color-nci-purple-min: var(--color-nci-purple-min);
  --color-nci-orange-max: var(--color-nci-orange-max);
  --color-nci-orange-lightest: var(--color-nci-orange-lightest);
  --color-nci-orange-lighter: var(--color-nci-orange-lighter);
  --color-nci-orange-light: var(--color-nci-orange-light);
  --color-nci-orange: var(--color-nci-orange);
  --color-nci-orange-vivid: var(--color-nci-orange-vivid);
  --color-nci-orange-dark: var(--color-nci-orange-dark);
  --color-nci-orange-darker: var(--color-nci-orange-darker);
  --color-nci-orange-darkest: var(--color-nci-orange-darkest);
  --color-nci-orange-min: var(--color-nci-orange-min);
  --color-nci-yellow-max: var(--color-nci-yellow-max);
  --color-nci-yellow-lightest: var(--color-nci-yellow-lightest);
  --color-nci-yellow-lighter: var(--color-nci-yellow-lighter);
  --color-nci-yellow-light: var(--color-nci-yellow-light);
  --color-nci-yellow: var(--color-nci-yellow);
  --color-nci-yellow-vivid: var(--color-nci-yellow-vivid);
  --color-nci-yellow-dark: var(--color-nci-yellow-dark);
  --color-nci-yellow-darker: var(--color-nci-yellow-darker);
  --color-nci-yellow-darkest: var(--color-nci-yellow-darkest);
  --color-nci-yellow-min: var(--color-nci-yellow-min);
  --color-gdc-grey-max: var(--color-gdc-grey-max);
  --color-gdc-grey-lightest: var(--color-gdc-grey-lightest);
  --color-gdc-grey-lighter: var(--color-gdc-grey-lighter);
  --color-gdc-grey-light: var(--color-gdc-grey-light);
  --color-gdc-grey: var(--color-gdc-grey);
  --color-gdc-grey-vivid: var(--color-gdc-grey-vivid);
  --color-gdc-grey-dark: var(--color-gdc-grey-dark);
  --color-gdc-grey-darker: var(--color-gdc-grey-darker);
  --color-gdc-grey-darkest: var(--color-gdc-grey-darkest);
  --color-gdc-grey-min: var(--color-gdc-grey-min);
  --color-gdc-red-max: var(--color-gdc-red-max);
  --color-gdc-red-lightest: var(--color-gdc-red-lightest);
  --color-gdc-red-lighter: var(--color-gdc-red-lighter);
  --color-gdc-red-light: var(--color-gdc-red-light);
  --color-gdc-red: var(--color-gdc-red);
  --color-gdc-red-vivid: var(--color-gdc-red-vivid);
  --color-gdc-red-dark: var(--color-gdc-red-dark);
  --color-gdc-red-darker: var(--color-gdc-red-darker);
  --color-gdc-red-darkest: var(--color-gdc-red-darkest);
  --color-gdc-red-min: var(--color-gdc-red-min);
  --color-gdc-blue-max: var(--color-gdc-blue-max);
  --color-gdc-blue-lightest: var(--color-gdc-blue-lightest);
  --color-gdc-blue-lighter: var(--color-gdc-blue-lighter);
  --color-gdc-blue-light: var(--color-gdc-blue-light);
  --color-gdc-blue: var(--color-gdc-blue);
  --color-gdc-blue-vivid: var(--color-gdc-blue-vivid);
  --color-gdc-blue-dark: var(--color-gdc-blue-dark);
  --color-gdc-blue-darker: var(--color-gdc-blue-darker);
  --color-gdc-blue-darkest: var(--color-gdc-blue-darkest);
  --color-gdc-blue-min: var(--color-gdc-blue-min);
  --color-gdc-blue-warm-max: var(--color-gdc-blue-warm-max);
  --color-gdc-blue-warm-lightest: var(--color-gdc-blue-warm-lightest);
  --color-gdc-blue-warm-lighter: var(--color-gdc-blue-warm-lighter);
  --color-gdc-blue-warm-light: var(--color-gdc-blue-warm-light);
  --color-gdc-blue-warm: var(--color-gdc-blue-warm);
  --color-gdc-blue-warm-vivid: var(--color-gdc-blue-warm-vivid);
  --color-gdc-blue-warm-dark: var(--color-gdc-blue-warm-dark);
  --color-gdc-blue-warm-darker: var(--color-gdc-blue-warm-darker);
  --color-gdc-blue-warm-darkest: var(--color-gdc-blue-warm-darkest);
  --color-gdc-blue-warm-min: var(--color-gdc-blue-warm-min);
  --color-gdc-cyan-max: var(--color-gdc-cyan-max);
  --color-gdc-cyan-lightest: var(--color-gdc-cyan-lightest);
  --color-gdc-cyan-lighter: var(--color-gdc-cyan-lighter);
  --color-gdc-cyan-light: var(--color-gdc-cyan-light);
  --color-gdc-cyan: var(--color-gdc-cyan);
  --color-gdc-cyan-vivid: var(--color-gdc-cyan-vivid);
  --color-gdc-cyan-dark: var(--color-gdc-cyan-dark);
  --color-gdc-cyan-darker: var(--color-gdc-cyan-darker);
  --color-gdc-cyan-darkest: var(--color-gdc-cyan-darkest);
  --color-gdc-cyan-min: var(--color-gdc-cyan-min);
  --color-gdc-cyan-vivid-max: var(--color-gdc-cyan-vivid-max);
  --color-gdc-cyan-vivid-lightest: var(--color-gdc-cyan-vivid-lightest);
  --color-gdc-cyan-vivid-lighter: var(--color-gdc-cyan-vivid-lighter);
  --color-gdc-cyan-vivid-light: var(--color-gdc-cyan-vivid-light);
  --color-gdc-cyan-vivid: var(--color-gdc-cyan-vivid);
  --color-gdc-cyan-vivid-vivid: var(--color-gdc-cyan-vivid-vivid);
  --color-gdc-cyan-vivid-dark: var(--color-gdc-cyan-vivid-dark);
  --color-gdc-cyan-vivid-darker: var(--color-gdc-cyan-vivid-darker);
  --color-gdc-cyan-vivid-darkest: var(--color-gdc-cyan-vivid-darkest);
  --color-gdc-cyan-vivid-min: var(--color-gdc-cyan-vivid-min);
  --color-gdc-green-max: var(--color-gdc-green-max);
  --color-gdc-green-lightest: var(--color-gdc-green-lightest);
  --color-gdc-green-lighter: var(--color-gdc-green-lighter);
  --color-gdc-green-light: var(--color-gdc-green-light);
  --color-gdc-green: var(--color-gdc-green);
  --color-gdc-green-vivid: var(--color-gdc-green-vivid);
  --color-gdc-green-dark: var(--color-gdc-green-dark);
  --color-gdc-green-darker: var(--color-gdc-green-darker);
  --color-gdc-green-darkest: var(--color-gdc-green-darkest);
  --color-gdc-green-min: var(--color-gdc-green-min);
  --color-gdc-indigo-max: var(--color-gdc-indigo-max);
  --color-gdc-indigo-lightest: var(--color-gdc-indigo-lightest);
  --color-gdc-indigo-lighter: var(--color-gdc-indigo-lighter);
  --color-gdc-indigo-light: var(--color-gdc-indigo-light);
  --color-gdc-indigo: var(--color-gdc-indigo);
  --color-gdc-indigo-vivid: var(--color-gdc-indigo-vivid);
  --color-gdc-indigo-dark: var(--color-gdc-indigo-dark);
  --color-gdc-indigo-darker: var(--color-gdc-indigo-darker);
  --color-gdc-indigo-darkest: var(--color-gdc-indigo-darkest);
  --color-gdc-indigo-min: var(--color-gdc-indigo-min);
  --color-gdc-violet-max: var(--color-gdc-violet-max);
  --color-gdc-violet-lightest: var(--color-gdc-violet-lightest);
  --color-gdc-violet-lighter: var(--color-gdc-violet-lighter);
  --color-gdc-violet-light: var(--color-gdc-violet-light);
  --color-gdc-violet: var(--color-gdc-violet);
  --color-gdc-violet-vivid: var(--color-gdc-violet-vivid);
  --color-gdc-violet-dark: var(--color-gdc-violet-dark);
  --color-gdc-violet-darker: var(--color-gdc-violet-darker);
  --color-gdc-violet-darkest: var(--color-gdc-violet-darkest);
  --color-gdc-violet-min: var(--color-gdc-violet-min);
  --color-gdc-orange-max: var(--color-gdc-orange-max);
  --color-gdc-orange-lightest: var(--color-gdc-orange-lightest);
  --color-gdc-orange-lighter: var(--color-gdc-orange-lighter);
  --color-gdc-orange-light: var(--color-gdc-orange-light);
  --color-gdc-orange: var(--color-gdc-orange);
  --color-gdc-orange-dark: var(--color-gdc-orange-dark);
  --color-gdc-orange-darker: var(--color-gdc-orange-darker);
  --color-gdc-orange-darkest: var(--color-gdc-orange-darkest);
  --color-gdc-orange-min: var(--color-gdc-orange-min);
  --color-gdc-yellow-max: var(--color-gdc-yellow-max);
  --color-gdc-yellow-lightest: var(--color-gdc-yellow-lightest);
  --color-gdc-yellow-lighter: var(--color-gdc-yellow-lighter);
  --color-gdc-yellow-light: var(--color-gdc-yellow-light);
  --color-gdc-yellow: var(--color-gdc-yellow);
  --color-gdc-yellow-vivid: var(--color-gdc-yellow-vivid);
  --color-gdc-yellow-dark: var(--color-gdc-yellow-dark);
  --color-gdc-yellow-darker: var(--color-gdc-yellow-darker);
  --color-gdc-yellow-darkest: var(--color-gdc-yellow-darkest);
  --color-gdc-yellow-min: var(--color-gdc-yellow-min);
  --color-gdc-survival-0: var(--color-gdc-survival-0);
  --color-gdc-survival-1: var(--color-gdc-survival-1);
  --color-gdc-survival-2: var(--color-gdc-survival-2);
  --color-gdc-survival-3: var(--color-gdc-survival-3);
  --color-gdc-survival-4: var(--color-gdc-survival-4);
  --color-gdc-survival-5: var(--color-gdc-survival-5);
  --color-gdc-survival-6: var(--color-gdc-survival-6);
  --color-gdc-survival-7: var(--color-gdc-survival-7);
  --color-gdc-survival-8: var(--color-gdc-survival-8);
  --color-gdc-survival-9: var(--color-gdc-survival-9);
  --color-focusColor: var(--color-focusColor);
  --color-hoverColor: var(--color-hoverColor);
  --color-activeColor: var(--color-activeColor);
  --color-percentage-bar-base: var(--color-percentage-bar-base);
  --color-percentage-bar-complete: var(--color-percentage-bar-complete);
  --color-percentage-bar-label: var(--color-percentage-bar-label);
  --color-summarybar-text: var(--color-summarybar-text);
  --color-summarybar-icon-background: var(--color-summarybar-icon-background);
  --color-summarybar-border: var(--color-summarybar-border);
  --color-summarybar-borderAlt: var(--color-summarybar-borderAlt);
  --color-summarybar-link-text: var(--color-summarybar-link-text);
  --color-warningColor: var(--color-warningColor);
  --color-warningColorText: var(--color-warningColorText);
  --color-cartDarkerOrange: var(--color-cartDarkerOrange);
  --color-cartLighterOrange: var(--color-cartLighterOrange);
  --color-linkDarkerColor: var(--color-linkDarkerColor);
  --color-emptyIconLighterColor: var(--color-emptyIconLighterColor);
  --color-removeButtonHover: var(--color-removeButtonHover);
}

input[type="search"] {
  font-family:
    Noto Sans,
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.tooltip {
  @apply invisible;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.flip-card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.mantine-Tabs-tabsList::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.mantine-Tabs-tabsList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5c5c5c;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.mantine-Tabs-panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.mantine-Tabs-panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5c5c5c;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.flip-card-flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.number {
  display: block;
  text-align: right;
  overflow: auto;
}

.decimal {
  width: 100px;
  float: right;
  text-align: left;
}

.VictoryContainer [role="graphics-symbol"]:focus {
  outline-color: black;
  outline-style: dotted;
}

.Offscreen {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  margin-top: -1px;
}
