.oncogrid-wrapper .background {
  fill: #fff;
  stroke: grey;
  stroke-width: 1;
  stroke-opacity: 0.5;
}
.oncogrid-wrapper line {
  stroke: grey;
  stroke-opacity: 0.3;
}

.oncogrid-wrapper .og-histogram-axis {
  stroke: black;
  stroke-opacity: 0.5;
}
.oncogrid-wrapper .og-gene-label {
  cursor: move;
}
.oncogrid-wrapper text.og-label-text-font {
  font-size: 0.6rem;
}
.oncogrid-wrapper text.og-track-label {
  font-size: 0.5rem;
  cursor: pointer;
}
.oncogrid-wrapper .og-sortable-rect:hover {
  stroke: red;
  stroke-width: 2;
}
.oncogrid-wrapper .og-horizontal-cross {
  stroke: black;
}
.oncogrid-wrapper .og-vertical-cross {
  stroke: black;
}
.oncogrid-wrapper .og-add-track {
  cursor: pointer;
}
.oncogrid-wrapper .og-remove-track {
  cursor: pointer;
}